.mail {
    flex: 1;
    background-color: whitesmoke;
 }

 .mail__tools {
     display: flex;
     justify-content: space-between;
     background-color:white;
 }

 .mail__toolsLeft {
    display: flex;
 }
 .mail__body {
     
 }

 .mail__message > h2 {
    font-weight: 400;
    margin-right: 20px;
 }

 .mail__message > p {
     padding: 10px;
     margin-right: 20px;
     overflow: break-word;
 }