.sidebar {
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
}

.sidebar__compose {
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    /* text-transform: capitalize !important; */
    color: #3c4043;
    letter-spacing: .25px;
    background-size: 32px;
    background-color: #fff;
    font-size: .875rem;
    align-items: center;
    padding: 0 24px 0 0;
    font-weight: 500;
    height: 48px;
    display: inline-flex;
    border-radius: 24px !important;
    min-width: 56px;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.sidebar__compose::before {
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display: block;
    height: 28px;
    min-width: 56px;
}

.sidebar__footer {
    display: flex;
    justify-content: center;
}